body {

background-image: url('../img/body-background.jpg');
background-size: cover;
}

h1 {
	font-size: 50px;
	font-family: 'Ribeye Marrow', cursive;
}

h2 {
	font-family: 'Ribeye Marrow', cursive;
}

#header {
	margin: 10px 0 10px 0;
}


#playground {
	position:relative;
	height:400px;
	min-width: 900px;
	max-width: 900px;
	/*background-color: skyblue;*/
	background-image: url('../img/sc-background.jpg');
	background-size: cover;
	margin: auto;
	border-radius: 30px;
}

#car-one {
	height:30px;
	width: 30px;
	/*background-color: black;*/
	background-image: url('../img/car.png');
	background-size: cover;
	position: absolute;
	top: 350px;
	left: 820px;
}

#car-two {
	height:30px;
	width: 30px;
	/*background-color: black;*/
	background-image: url('../img/car-red.png');
	background-size: cover;
	position: absolute;
	top: 350px;
	left: 50px;
}

.snitch {
    border-radius:25px;
    width:40px;
    height:40px;
    background:#FF0;
    position:absolute;
    opacity:0.6;
}

#footer {
	margin: 15px 0 10px 0;
}