#header {
	margin: 20px 0 20px 0;
}


#playground {
	position:relative;
	height:400px;
	min-width: 900px;
	max-width: 900px;
	/*background-color: skyblue;*/
	background-image: url('../img/sc-background.jpg');
	background-size: cover;
	margin: auto;
	border-radius: 30px;
}

#car-one {
	height:30px;
	width: 30px;
	/*background-color: black;*/
	background-image: url('../img/car.png');
	background-size: cover;
	position: absolute;
	top: 100px;
	left: 500px;
}

#car-two {
	height:30px;
	width: 30px;
	/*background-color: black;*/
	background-image: url('../img/car-red.png');
	background-size: cover;
	position: absolute;
	top: 200px;
	left: 500px;
}

.wall{
	background-color: brown;
	position: absolute;
}

#w1{
	height:350px;
	width:5px;
	top: 50px;
	left: 60px;
}